<ul class="nav nav-pills nav-stacked">
  <li><a href="" {{action 'steveCall'}}>Steve</a></li>
  <li><a href="" {{action 'jeffCall'}}>Jeff</a></li>
  <li><a href="" {{action 'trentCall'}}>Trent</a></li>
</ul>
<ul class="nav nav-pills nav-stacked">
  <li><a href="" {{action 'bonnaCall'}}>Bonna</a></li>
  <li><a href="" {{action 'joannaCall'}}>Joanna</a></li>
</ul>

{{outlet}}
