<ul class="nav nav-pills nav-stacked">
  <li {{action 'steveCall'}}>Steve</li>
  <li {{action 'adamCall'}}>Adam</li>
  <li {{action 'peteCall'}}>Pete</li>
  <li {{action 'jeffCall'}}>Jeff</li>
  <li {{action 'trentCall'}}>Trent</li>
</ul>


{{outlet}}
