
<nav id="sidebar" role="navigation">
  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="sr-only">Toggle navigation</span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
   <span class="icon-bar"></span>
  </button>
  <div id="sidebar-nav">
    <ul class="nav nav-stacked">
      <li>
        {{#link-to 'application' class="nav-title"}} K+S{{/link-to}}
      </li>
      <li>
        {{#link-to 'about'}}{{fa-icon "heart-o" size="lg"}}{{/link-to}}<p class="link-text">About</p>
      </li>
      <li>
        {{#link-to 'party'}}{{fa-icon "users" size="lg"}}{{/link-to}}<p class="link-text">Party</p>
      </li>
      <li>
        {{#link-to 'logistics'}}{{fa-icon "map-signs" size="lg"}}{{/link-to}}<p class="link-text">Logistics</p>
      </li>
      <li>
        {{#link-to 'registry'}}{{fa-icon "gift" size="lg"}}{{/link-to}}<p class="link-text">Registry</p>
      </li>
      <li>
        {{#link-to 'contact'}}{{fa-icon "pencil" size="lg"}}{{/link-to}}<p class="link-text">Contact Us</p>
      </li>
    </ul>
  </div>
</nav>

{{outlet}}

<div class="site-wrapper">
  <div class="site-wrapper-inner">
    <div class="cover-container">
      <div class="mastfoot">
        <div class="inner">
          <p>Created with <a href="http://getbootstrap.com">Bootstrap</a> and <a href="http://emberjs.com">Ember.js</a>, by <a href="https://twitter.com/ROGEHAUS">@ROGEHAUS</a>.</p>
        </div>
      </div>
    </div>
  </div>
</div>
